.lineheight{
    line-height:20px !important;
}
.listtext {
    font-size: 0.8em !important;
    color:#81bdec;
    // text-shadow: 2px 2px 2px #ccc;
    line-height: 1.6em;
    text-align: left;
  }