.minHeight{
    height: 10px !important;
    min-height: 10px !important;
    margin: 0px !important;
    padding: 0px !important;
}
.bgcolor_down{
    background-color: rgba(56, 92, 209, 0.425)
}