<!-- <ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>

    <ion-title>newstxt</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

</ion-content> -->
<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref="/systemnews" text=""></ion-back-button>
    <ion-title>消息详情</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content *ngIf="skeleton" class="mainindex">
  <ion-img style="width:100%" src="/assets/news.png"></ion-img>
</ion-content> -->


<ion-content   padding>
  <!-- <div class="tLeft">
    <p class="h3titleGray">标题:{{news.author}}</p>
    <p class="h3titleGray">日期:{{news.showdate}}</p>
  </div>
  <div class="h3titleGray">详情：{{news.content}}</div> -->
</ion-content>
