.img-box {
  width: 63%;
  margin-left: 20%;
  margin-top: 30%;
}

.img-box img {
  width: 100%;
}

.button-text {
  padding: 0 1rem 0 1rem;
  height: 36px;
  border-radius: 4px;
  width: 200px;
  margin-top: 20px;
}

.p-box {
  margin-top: 30px;
}

.p-box p {
  text-align: center;
  line-height: 24px;
  color: #818181;
}

.p-box .bluecolor {
  color: #3D84BD;
}

.button-box {
  text-align: center;
}
