.box {
  padding: 2.5%;
  width: 100%;
  height: 100%;
}

.poa {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
}

.titileflex {
  display: flex;
  align-items: center;
}

.box {
  height: 100%;
  width: 100%;
  background-color: #ccc !important;
  background-image: url("/assets/images/pic_bgm@2x.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.ofhiden:host {
  background-image: url("/assets/images/pic_bgm@2x.png");
}

.txtcolor {
  color: #ffffff;
}
