// 免费 与原价字体
$toolbar-ios-button-color: #fff;
.titletxt {
  font-size: 12px;
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  // word-break: break-all;
  white-space: nowrap;
}
.scotop{
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.order {
  font-size: 10px;
}
// 目录样式

.courseIsorder {
  font-size: 10px;

  white-space: nowrap;
  color: #ffffff;
  text-decoration: none;
  background-image: url('../../../../assets/images/FreeAdmission2.png');
  background-size: 100% 100%;
  height: 16px;
  width: 66px;
  background-repeat: no-repeat;
  border-radius: 5px;
}
.padding {
  padding: 10px 0 0 0 !important ;
}
.txtSize {
  font-weight: 400;
}
.paddingContent {
  padding-top: 10px !important;
}
.Courserecommendedlength {
  // background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner {
  width: 100%;
  // height: 250px;
  object-fit: cover;

  img {
    width: 100%;
    height: auto;
    border-radius: 0 !important;
  }
}
.banner img {
  width: 100%;
  height: auto;
  border-radius: 0 !important;
}
.am-list-extra {
  flex-basis: 16% !important;
}
.sharetop {
  position: absolute;
  right: 10px;
  color: #dcdcdc;
  font-size: 20px;
}
.img-box {
  width: 90%;
  height: 100px;
  margin-left: 5%;
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;

  img {
    width: 100%;
    height: 100%;
  }
}

.showvideo {
  width: 100%;
  height: auto;
}
.rowitem {
  height: 30px;
}

.margin-top {
  padding-top: 10px;
}

.title {
  color: #8d8d8d;
  font-size: 1.2em;
  padding-left: 3%;
  margin-bottom: 0.6em;
}

.padding-left {
  padding-left: 3%;
  margin-bottom: 30px;
}
.padding-right {
  padding-right: 3%;
  padding-bottom: 100px;
}
.poral {
  position: relative;
  height: 100%;
  background: #ccc;
}
.button_bottom {
  position: fixed;
  bottom: 0px;
  width: 100%;
  border-radius: 0px;
}

.margin-icon {
  vertical-align: middle;
}

.m-t-5 {
  margin-top: 5px;
}

.h-1 {
  height: 1px;
}

.t-c-y {
  color: #3d84bd;
}

.t-a-right {
  text-align: right;
}

//     <div class="p-10 b-t-1 b-b-1">
.p-10 {
  padding-top: 0;
  padding-bottom: 0;
}

.border-1 {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

.w-100 {
  width: 100%;
}

.buttonCol {
  text-align: right;
}

.line-45 {
  line-height: 45px;
}

.height-30 {
  height: 30px;
}

.button-top {
  margin-top: 5px;
}
.am-button-content {
  position: fixed !important;
  bottom: 0 !important;
}
.am-button-content {
  position: fixed !important;
  bottom: 0 !important;
}
.courseName {
  margin-left: 20px;
  // float: left;
  font-size: 14px;
}

.course-right {
  float: right;
  margin-right: 20px;
  font-size: 14px;
}

.button-clearborder {
  border-radius: 0;
  position: fixed;
  bottom: 0px;
}
.newCourses {
  width: 100%;
  position: relative;
  max-height: 300vh;
  border-radius: 2px !important;
  // border: 0 solid #ccc;
  margin: 0 0 0.1em 0;

  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.12);
  img {
    border-radius: 2px;
  }
}
.img-box {
  // width: 100%;
  height: 130px;
  margin-left: 5%;
  border-radius: 2px;
  overflow: hidden;
  object-fit: cover;

  img {
    width: 100%;
    height: 100%;
  }
}
.course-title {
  min-height: 2.7rem;

  padding-bottom: 0.5em;
  margin: 0;
  padding: 0;
  // width: 100%;
  // font-size: 1.4em !important;
  // font-size: 1.1em !important;
  color: #130c0e;
  padding-left: 10px;
  // margin: 0.6em 0 0.8em 0;
  box-sizing: border-box;
  line-height: 1.2em;
  text-align: left;
}
.spaceBetween {
  padding-top: 1.14em;
}
.paddingBottom {
  // background: #ccc;

  margin-bottom: 50px;
  height: 100%;

  width: 100%;
  box-sizing: border-box;
}
.foutershow {
  margin-bottom: 180px;
  // box-sizing: content-box;
}
.videoList {
  margin-bottom: 7.5em;
  // margin-bottom: 20px;
  height: 100%;

  display: flex;
  flex-wrap: wrap;
  width: 100%;
  // background: #ccc;
  .videoItem {
    max-height: 13em;

    // background: #666;
    width: 50%;

    box-sizing: border-box;
  }
}

.Courserecommended {
  background: #8d8d8d;
  max-height: 10em;
}
.boxSizing {
  height: 100%;
  // background: cyan;
  width: 100%;
  min-height: 20em;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
// .Textcolor {
//   color: #000;
// }
// .Fontorange {
//   color: orange;
// }
// 自己改
// .padding {
//   padding-bottom: 1em;
//   background: #ccc;
// }
.flexbox {
  // padding: 5px;
  display: flex;
  justify-content: space-between;
}
.currentPrice {
  padding-left: 10px;
  white-space: nowrap;
  color: #f58220;
  text-decoration: none;
  font-size: 10px !important;
}
.Txtright {
  // text-align: right;
  font-size: 10px;
  text-decoration: line-through;
  white-space: nowrap;
  // font-size: 1.1em !important;
}
