<ion-content>

    <ion-header mode="ios" translucent="false"  [ngStyle]="{'padding-top':islh ? '33px' : '5px' }">
        <ion-toolbar>
            <ion-back-button slot="start" defaultHref="/app/mycenter" (click)="outcontent()" text=""></ion-back-button>
          <ion-title>联系客服</ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-content>
        <div class="nav">
          <img src="assets/images/矢量智能对象@2x.png" alt="" class="slog">
          <div class="titlesize">音乐大师</div>
        </div>
        <div class="hr"></div>
        <ul>
          <li class="boderBtm">
            <span>联系电话:</span><a href="javascript:;" class="txtIndex">13811784824</a>
          </li>
          <li class="boderBtm">
              <span>联系邮箱:</span><a class="txtIndex" href="javascript:;" >yinyuedashi@master-music.cn</a>
          </li>
          <li class="boderBtm">
              <span>工作时间:</span><span class="txtIndex">8:30-17:30(工作日)</span>
          </li>
          <li class="padcontent">
              <div>客服内容:</div>
              <div class="serveContent">电话客服为您提供以下业务的专业咨询：购买付款、交易查询、活动查询、订单咨询与投诉建议、</div>
          </li>
        </ul>
      
      </ion-content>
      
</ion-content>