<div class="discountcoupon-box">
    <div class="dis-left-box">
      <div class="dis-left-top">
        <p>¥<span>{{Coupon.price}}</span></p>
      </div>
      <!-- <div class="dis-left-bottom">
         满200元使用
      </div> -->
    </div>
    <div class="dis-right-box">
      <div class="dis-right-top">
          <b>{{Coupon.title}}</b>
      </div>
      <div class="dis-right-abu">
          <span>{{Coupon.state}}</span>
        </div>
      <div class="dis-right-bottom">
            过期时间: {{Coupon.etime}}
        </div>
    </div>
  </div>
