.header {
  background: #434343;
  height: 175px;
  padding-top: 34px;
}

.Baise {
  height: 76px;
}

.navpoa {
  position: relative;
}

.nologinimg {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.ckabs {
  position: absolute;
  left: 228px;
  top: 122px;
  width: 21px;
  height: 21px;
}

.title {
  padding: 0 15px 0 22px;
}

.white {
  color: #fff;
}

.brown {
  color: #EBC596;
}

.fontsze {
  font-size: 12px;
}

.miniSize {
  font-size: 10px;
}

.viplogin {
  position: absolute;
  bottom: 0px;
}

.icons {
  padding: 0 89px 0 94px;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 163px;
  transform: translate(-50%, -50%);
}

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: 1px solid #F2F2F2;
  border-radius: 50%;
  margin: 0 auto;
}

.icon-img {
  width: 15px;
  height: 15px;
  color: #F2F2F2;
}

.yuan {
  border-radius: 50%;
}

.width-100 {
  width: 100%;
}

.abs {
  position: absolute;
  left: 119px;
  top: 122px;
  color: #EBC596;
  font-size: 16px;
}

.yeAbs {
  position: absolute;
  left: 111px;
  top: 167px;
}

.yeAbs img {
  height: 24px;
  width: 23px;
  display: block;
}

.AomAbs {
  position: absolute;
  left: 142px;
  top: 174px;
}

.Attendlectures {
  position: absolute;
  left: 141px;
  top: 194px;
}

.userDiscount {
  position: absolute;
  height: 25px;
  width: 26px;
  right: 111px;
  top: 167px;
}

.userDiscountTxt {
  position: absolute;
  /* left: 251px; */
  top: 173px;
  right: 42px;
}

.FreeWATime {
  position: absolute;
  top: 194px;
  /* left: 252px; */
  right: 52px;
}

.xiaoxi {
  height: 19px;
  width: 22px;
}

.center {
  margin: 0 auto;
}

.header-ios ion-toolbar:last-child {
  --border-width: 0;
}

.title {
  position: relative;
  border-bottom: 1px #F2F2F2 solid;
  height: 175px;
  background: #434343;
}

.nav {
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
}

.navtxt {
  font-size: 18px;
  color: #FFFFFF;
}

.islogins {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  width: 82px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 123px;
  background: #F2F2F2;
  color: orange;
  text-align: center;
  transform: translate(-50%, -50%);
}

.content {
  height: 76px;
  background: #ccc;
}

.PersonalInformation .ImgPadding {
  padding: 14px  2px 54px 10px;
  height: 176px;
  box-sizing: border-box;
}

.PersonalInformation .ImgPadding .location {
  position: relative;
  height: 100%;
  width: 100%;
}

.PersonalInformation .ImgPadding .personal {
  width: 100%;
  height: 108px;
}

.UserImg {
  border-radius: 50%;
  position: absolute;
  left: 36px;
  top: 100px;
  height: 67px;
  width: 67px;
}

.item {
  padding: 0 15px;
}

.iconSize {
  height: 20px;
  width: 21px;
}

.ion-color-primary h6 {
  color: #999;
  margin-top: 5px;
  margin-bottom: 5px;
}

.resetButton {
  --padding-start: 1.2em;
  --padding-end: 1.2em;
  height: 1.7em;
}

.maxtitle {
  height: 21px;
  width: 22px;
}

.listicon {
  font-size: 1em;
  color: #cccccc;
}

.item.hydrated {
  --padding-start: 0;
  --border-color: var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, #e5e5e5)));
}

.hotlist.list-ios.hydrated {
  --border-width: 0;
}

.avatarion {
  width: 100%;
  text-align: center;
}

.avatarimg {
  border-radius: 50% !important;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  margin: auto;
  z-index: 100;
  -webkit-filter: blur(0px) !important;
  /* Chrome, Opera */
  -moz-filter: blur(0px) !important;
  -ms-filter: blur(0px) !important;
  filter: blur(0px) !important;
}

.listtext {
  font-size: 15px;
  color: #333333;
  line-height: 2em;
  text-align: left;
  margin-left: 18px;
}
