<audio id="audioPlayer">
  <source src="{{srcfile}}" type="audio/mp3">
</audio>
<ion-grid>

<ion-row class="nopadding nomargin">
<ion-col size="2" class="nopadding nomargin">

    <div class="audio-left" *ngIf="!audioplay&&!isloading" (click)="playaudio()"><ion-icon class="bigbutton" name="play"></ion-icon></div>
    <div class="audio-left"  *ngIf="audioplay&&!isloading" (click)="stopaudio()"><ion-icon class="bigbutton"  name="pause"></ion-icon></div>
    <div class="audio-left"  *ngIf="isloading"> <ion-spinner class="bigbutton" name="bubbles"></ion-spinner></div>

   
</ion-col>
<ion-col size="10" class="nopadding nomargin">
  <ion-row class="nopadding nomargin">
    <ion-col size="12" class="hidover nopadding nomargin">
        <ion-text class="animatetxt"> {{title}}</ion-text>
     </ion-col>
  </ion-row>
  <ion-row class="nopadding nomargin">
      <ion-col size="12" class="nopadding nomargin">
          <ion-range min="0" [value]="stepvalue" (ionChange)="changeProgress($event)" class="nopadding nomargin" max="{{dtime}}" color="primary">
              <!-- <ion-label slot="start">0</ion-label>
              <ion-label slot="end">100</ion-label> -->
            </ion-range>
      </ion-col>
  </ion-row>
  <ion-row class="nopadding nomargin">
      <ion-col size="12">
          <div class="audio-time"><span class="audio-length-current" id="audioCurTime">{{currenttime}}</span><span class="audio-length-total">{{audiotime}}</span></div>
      </ion-col>
  </ion-row>

</ion-col>
<!--   
<div class="audio-wrapper">
<audio #audioPlayer>
    <source src="{{cplay.file}}" type="audio/mp3">
</audio>
<div class="audio-left" *ngIf="audioplay" (click)="playaudio()"><ion-icon class="bigbutton" name="play"></ion-icon><ion-icon class="bigbutton"  name="pause"></ion-icon></div>
<div class="audio-left"  *ngIf="!audioplay" (click)="stopaudio()"><ion-icon class="bigbutton"  name="pause"></ion-icon></div>

<div class="audio-right">
    <p style="max-width: 536px;">Beta-B_Kan R. Gao.mp3</p>
    <div class="progress-bar-bg" id="progressBarBg"><span id="progressDot"></span>
        <div class="progress-bar" id="progressBar"></div>
    </div>
    <ion-range min="0" max="100" color="secondary">
      <ion-label slot="start">0</ion-label>
      <ion-label slot="end">100</ion-label>
    </ion-range>
    <div class="audio-time"><span class="audio-length-current" id="audioCurTime">00:00</span><span class="audio-length-total">01:06</span></div>
</div>
</div> -->

</ion-row>
<!-- <WhiteSpace class="bgcolor" [size]="'sm'"></WhiteSpace> -->
</ion-grid>