
<ion-content>
    <ion-header class="navtitle"  [ngStyle]="{'padding-top':islh ? '33px' : '5px' }">
      <div class="nav">
          <ion-back-button slot="start" defaultHref="/app/guidance" text="" class="backbtn"></ion-back-button>
        <!-- <img src="./assets/images/back@2x.png" alt="" class="back" (click)="calbak()"> -->
        <!-- <div class="flexcenter"> -->
            <div class="title">课程</div>
        <!-- </div> -->
      </div>
        <!-- <ion-toolbar>
          <ion-back-button slot="start" defaultHref="/app/guidance" text=""></ion-back-button>
          <ion-title (click)="goback()">课表</ion-title>
        </ion-toolbar> -->
      </ion-header>
      <ion-content>
  <ion-grid class="nopadding">
    <ion-row class="bgcolorWhite fiexdMenu">
      <ion-col class="h21titleblue" size="4" (click)="get_class(0)">
        <span [ngClass]="{bg:index==0}" style="font-size: 15px">今天</span>
      </ion-col>
      <ion-col class="h21titleblue" size="4" (click)="get_class(1)">
        <span [ngClass]="{bg:index==1}" style="font-size: 15px">未来7天</span>
      </ion-col>
      <ion-col class="h21titleblue" size="4" (click)="get_class(2)">
        <span [ngClass]="{bg:index==2}" style="font-size: 15px">全部</span>
      </ion-col>
    </ion-row>
    <!--  *ngIf="showclasslist.length>0" -->
    <ion-row class="nopadding mindivheight" *ngIf="classList.length>0">
      <ion-col class="bgcolorGray nopadding" style="margin: 1em 0"  size="12">
        <ng-container *ngFor="let item of classList">
          <ion-card class="bgcolorWhite nopadding cardhei" (click)="videoPhone(item)">

            <div class="height" *ngIf="item.state!=='等待上课'">
         
              <img src="{{'http://mst.zt-tech.net'+item.avatar}}" alt="" class="mastericon" *ngIf="item.avatar">
              <!-- <img src="./assets/images/WechatIMG47.png" alt="" class="mastericon" *ngIf="item.avatar"> -->
              <ion-label class="mastername">{{item.name}}</ion-label>
          </div>
          <div class="height" *ngIf="item.state==='等待上课'">
            <div class="schCenter">
                正在预约,请耐心等待
            </div>
          </div>
            <div class="subtitleminGray paddingcs  flexbox youmar">
              <div class="backcolor">教学特点:</div>
              <div class="youmargin" *ngIf="item.jxtd!==null">
                  <div class="ted" *ngFor="let item1 of item.jxtd;let i=index">{{item1}}<span  *ngIf="i!=item.jxtd.length-1">|</span></div>
              </div>
              <div class="youmargin" *ngIf="item.jxtd==null">
                  <div class="ted" >--</div>
              </div>
              <!-- <div class="youmargin" >
                  <div class="ted"
                  *ngFor="let item1 of item.jxtd;let i=index">--</div>
              </div> -->
            </div>

            <!-- <ion-item lines="none" class="subtitleminBlack paddingcs "> -->
              <div class="flexbox yopad">
                <img src="./assets/images/ic_time@2x.png" alt="" class="staricon">
                <div class="yousize" *ngIf="item.state!=='等待上课'">{{item.shktime|  date:'MM月dd日' }} <span>{{ item.shktime | date:'EEEE' }}</span></div>
                <!-- {{item.state}} -->
                <div class="yousize"  *ngIf="item.state=='等待上课'">{{item.yytime|  date:'MM月dd日' }}</div>
              </div>
                <div class="flexbox yopad">
                    <img src="./assets/images/ic_t@2x.png" alt="" class="stariconl">
                    <div class="yousize" *ngIf="item.shktime!=null&&item.etime!=null">
                      {{item.shktime|  date:'HH:mm:ss'}}至{{item.etime|  date:'HH:mm:ss'}}
                    </div>
                    <div class="yousize" *ngIf="item.shktime==null&&item.etime==null">
                      {{item.yytime|date:'HH:mm'}}
                    </div>
                </div>
                 
                    
                <button *ngIf="item.state=='开始上课'" style="font-size:13px ;border-radius: 5px " class="poas">开始上课</button>
                <button *ngIf="item.state=='等待上课'" style="font-size:13px ;border-radius: 5px" class="poas">正在预约</button>
                <button *ngIf="item.state=='已经结束'" style="font-size:13px ;border-radius: 5px" class="poa">已经结束</button>
          
              <!-- <span><img src="./assets/images/ic_time@2x.png" alt=""></span>
              <span>上课时间：{{item.shktime}}</span> | <span *ngIf="item.state!='已开始'" >{{item.state}}</span>
              <ion-button slot="end" *ngIf="item.state=='已开始'"  class="nopadding nomargin smallButton" size="small" color="primary">开始上课</button> -->
            <!-- </ion-item> -->
          </ion-card>
          <div>

          </div>
        </ng-container>
      </ion-col>
    </ion-row>
    
    <!-- <= -->
    <ion-row class="bgcolorWhite nopadding mindivheight" *ngIf="classList.length<=0">
      <ion-col class="bgcolorWhite nopadding h3titleGray tcenter" size="12">
        <img src="./assets/images/noappointment.png">
        <div class="subtitleminGray marginBig tcenter">
          您当前没有预约在线指导
        </div>
        <div class="marginBig tcenter">
          <ion-button size="default" routerLink="/tosubscribe" class="guidanceButton" color="primary">去预约</ion-button>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>


</ion-content>
</ion-content>
