.emailArea{
  padding: 0 10px;
  position: fixed;
  bottom: 0;
}
.mm_input{
  margin: 1rem 0;
  border:1px solid #3D84BD;
  border-radius: 1px;
  height: 3em;
  width: 100%;
  color: #989AA2;
  background: #ffffff;
}
.title{
  font-size:1.25em;
  font-weight: 600;
}
