.padLef{
    margin-left: 10px;
}
.por{
    position: relative;
}
.poARight{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(-50%,-50%)
}
// 组件类
.pdRight{
    padding-right: 16px;
}
.txtSizes{
font-size: 10px;
white-space:nowrap;
}